<!DOCTYPE html>
<html>
<head>
  <title>Database of Indigenous Slavery in the Americas - Admin</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <link rel="stylesheet" href="style.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha256-gL1ibrbVcRIHKlCO5OXOPC/lZz/gpdApgQAzskqqXp8=" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  <script src="https://use.fontawesome.com/5699cdb406.js"></script>
  <!--<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>-->
</head>
<body>
  <header>
    <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top" style="background-color: #5f0c20;">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="/">Database of Indigenous Slavery in the Americas</a>

      <div class="collapse navbar-collapse justify-content-end" id="navbar">
        <ul class="navbar-nav mr-3">
          <li class="nav-item">
            <a class="nav-link" href="/">Dashboard</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/admin">Admin <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Log Out</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-md-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Does not work yet">
          <button class="btn btn-outline-default my-2 my-sm-0 disabled" type="button">Search</button>
        </form>
      </div>
    </nav>
  </header>

  <article class="container pt-5" style="margin-top:56px;">
    <name-banner params="userGivenName: userGivenName, underText: 'Welcome to the admin page. Use the power responsibly.'"></name-banner>

    <h2>
      Dropdown Options Menu
      <button class="btn btn-default btn-flip collapsed" type="button" data-toggle="collapse" data-target="#dropdownOptions" aria-expanded="false" aria-controls="collapseExample">
        <span class="fa fa-chevron-up"></span>
      </button>
    </h2>
    <div id="dropdownOptions" class="collapse">
      <div class="card-columns">
        <admin-dashboard-element params="options: sexOptions, title: 'Sex', name: 'sex'"></admin-dashboard-element>
        <admin-dashboard-element params="options: tribeOptions, title: 'Tribe', name: 'tribe'"></admin-dashboard-element>
        <admin-dashboard-element params="options: originOptions, title: 'Origin', name: 'origin'"></admin-dashboard-element>
        <admin-dashboard-element params="options: racialTagOptions, title: 'Race', name: 'racialTag'"></admin-dashboard-element>
        <admin-dashboard-element params="options: mannerOfEnslavementOptions, title: 'Type/Kind of Enslavement', name: 'mannerOfEnslavement'"></admin-dashboard-element>
      </div>
    </div>
    <hr>

    <h2>Tool Tips Menu</h2>

    <hr>

    <h2>
      Users Menu
      <button class="btn btn-default btn-flip collapsed" type="button" data-toggle="collapse" data-target="#userOptions" aria-expanded="false" aria-controls="collapseExample">
        <span class="fa fa-chevron-up"></span>
      </button>
    </h2>
    <div id="userOptions" class="collapse">
      <new-user-card params="username: username"></new-user-card>
    </div>
    <hr>

  </article>

  <footer>

  </footer>
  <script type='text/javascript' src='bower_components/knockout/dist/knockout.debug.js'></script>
  <script type='text/javascript' src='bower_components/bower-knockout-mapping/dist/knockout.mapping.js'></script>
  <script type='text/javascript' src='admin-bundle.js'></script>
</body>
</html>
