<!DOCTYPE html>
<html>
<head>
  <title>Database of Indigenous Slavery in the Americas - Admin</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha256-gL1ibrbVcRIHKlCO5OXOPC/lZz/gpdApgQAzskqqXp8=" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  <!--<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>-->
</head>
<body>
  <header>
    <nav class="nav nav-tabs navbar-toggleable-md">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="/">Database of Indigenous Slavery in the Americas</a>
      <div id="navbarNavDropdown" class="navbar-collapse collapse">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/">Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin">Admin</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Logout</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <div class="container">
    <name-banner params="userGivenName: userGivenName, underText: 'Welcome to the admin page. Use the power responsibly.'"></name-banner>
    
    <!--<admin-dashboard-element></admin-dashboard-element>-->
  
  </div>
  <article id="adminPanel" class="container">
    <div class="row">
      <div class="col-xs-3"></div>
      <section id="dropdownOptions" class="col-xs-6">
        <!-- TODO: I would love to make these templates or bindings -->
        <h2>Drop Down Options</h2>
        <article class="row">
          <div class="form-group">
            <h3>Sex</h3>
            <ul data-bind="foreach: sexOptions">
              <li style="list-style-type:none"><div class="input-group"><input data-bind="textInput: $rawData, event: {keyup: $root.saveOptions}" class="form-control" /><span class="input-group-btn"><button data-bind="click: $root.deleteOption.bind(this, 'sex')" class="btn btn-danger">DELETE</button></span></div></li>
            </ul>
            <button data-bind="click: function() {addOption('sex')}" class="btn btn-default">Add Sex Option</button>
          </div>
        </article>
        <article class="row">
          <div class="form-group">
            <h3>Tribe</h3>
            <ul data-bind="foreach: tribeOptions">
              <li style="list-style-type:none"><div class="input-group"><input data-bind="textInput: $rawData, event: {keyup: $root.saveOptions}" class="form-control" /><span class="input-group-btn"><button data-bind="click: $root.deleteOption.bind(this, 'tribe')" class="btn btn-danger">DELETE</button></span></div></li>
            </ul>
            <button data-bind="click: function() {addOption('tribe')}" class="btn btn-default">Add Tribe Option</button>
          </div>
        </article>
        <article class="row">
          <div class="form-group">
            <h3>Origin</h3>
            <ul data-bind="foreach: originOptions">
              <li style="list-style-type:none"><div class="input-group"><input data-bind="textInput: $rawData, event: {keyup: $root.saveOptions}" class="form-control" /><span class="input-group-btn"><button data-bind="click: $root.deleteOption.bind(this, 'origin')" class="btn btn-danger">DELETE</button></span></div></li>
            </ul>
            <button data-bind="click: function() {addOption('origin')}" class="btn btn-default">Add Origin Option</button>
          </div>
        </article>
        <article class="row">
          <div class="form-group">
            <h3>Racial Tag</h3>
            <ul data-bind="foreach: racialTagOptions">
              <li style="list-style-type:none"><div class="input-group"><input data-bind="textInput: $rawData, event: {keyup: $root.saveOptions}" class="form-control" /><span class="input-group-btn"><button data-bind="click: $root.deleteOption.bind(this, 'racialTag')" class="btn btn-danger">DELETE</button></span></div></li>
            </ul>
            <button data-bind="click: function() {addOption('racialTag')}" class="btn btn-default">Add Origin Option</button>
          </div>
        </article>
        <article class="row">
          <div class="form-group">
            <h3>Type/Kind of Enslavement</h3>
            <ul data-bind="foreach: mannerOfEnslavementOptions">
              <li style="list-style-type:none"><div class="input-group"><input data-bind="textInput: $rawData, event: {keyup: $root.saveOptions}" class="form-control" /><span class="input-group-btn"><button data-bind="click: $root.deleteOption.bind(this, 'origin')" class="btn btn-danger">DELETE</button></span></div></li>
            </ul>
            <button data-bind="click: function() {addOption('mannerOfEnslavement')}" class="btn btn-default">Add Type/Kind of Enslavement Option</button>
          </div>
        </article>
      </section>
      <div class="col-xs-3"></div>
    </div>

    <div class="row">
      <div class="col-xs-3"></div>
      <section id="users" class="col-xs-6">
        <h2>New User</h2>
        <article class="row">
          <div class="form-group">
            <label for="username">Username:</label>
            <input data-bind="value: username" name="username" class="form-control" />
            <label for="givenName">Given Name:</label>
            <input data-bind="value: givenName" name="givenName" class="form-control" />
            <label for="familyName">Family Name:</label>
            <input data-bind="value: familyName" name="familyName" class="form-control" />
            <label for="pass">Password:</label>
            <input data-bind="value: password" name="pass" class="form-control" />
            <label for="role">Role: (put "Admin" without quotes)</label>
            <input data-bind="value: role" name="role" class="form-control" />
            <button data-bind="click: newUser" class="btn btn-primary">Add</button>
          </div>
        </article>
      </section>
      <div class="col-xs-3"></div>
    </div>
  </article>

  <footer>

  </footer>
  <script type='text/javascript' src='bower_components/knockout/dist/knockout.debug.js'></script>
  <script type='text/javascript' src='bower_components/bower-knockout-mapping/dist/knockout.mapping.js'></script>
  <script type='text/javascript' src='admin-bundle.js'></script>
</body>
</html>
