<!DOCTYPE html>
<html>
<head>
  <title>Database of Indigenous Slavery in the Americas</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>
  <header>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Database of Indigenous Slavery in the Americas</a>
        </div>
        <ul class="nav navbar-nav nav-tabs navbar-right">
          <li><a href="/">Dashboard</a></li>
          <li><a href="/admin">Admin</a></li>
          <li><a href="#">Logout</a></li>
        </ul>
      </div>
    </nav>
  </header>
  <article data-bind="visible: showHome" class="container">
    <section id="user">
      <h1>Hello <span data-bind="text: userGivenName"></span></h1>
      <button data-bind="click: $root.newEntry" class="btn btn-primary">New Entry</button>
    </section>
    <section id="tables" class="row">
      <article id="drafts" class="col-xs-12">
        <h2>Drafts</h2>
        <table class="table table-hover">
          <thead>
            <tr>
              <th data-bind="click: (function(){sort('displayId')})">ID</th>
              <th data-bind="click: (function(){sortName('firstName')})">First Name</th>
              <th data-bind="click: (function(){sortName('lastName')})">Last Name</th>
              <th data-bind="click: (function(){sort('dateString')})">Date</th>
              <th data-bind="click: (function(){sort('stringLocation')})">Colony/State</th>
              <th data-bind="click: (function(){sort('meta','lastModified')})">Last Modified</th>
              <th data-bind="click: (function(){sort('meta','updatedBy')})">Updated By</th>
            </tr>
          </thead>
          <tbody data-bind="foreach: getEntries('Draft')">
            <tr data-bind="click: $parent.edit">
              <td data-bind="text: displayId"></td>
              <td data-bind="text: displayFirstName"></td>
              <td data-bind="text: displayLastName"></td>
              <td data-bind="text: dateString"></td>
              <td data-bind="text: colonyState"></td>
              <td data-bind="text: meta.lastModified"></td>
              <td data-bind="text: meta.updatedBy"></td>
            </tr>
          </tbody>
        </table>
      </article>
      <article id="internal" class="col-xs-12">
        <h2>Internal Entries</h2>
        <table class="table table-hover">
          <thead>
            <tr>
              <th data-bind="click: (function(){sort('displayId')})">ID</th>
              <th data-bind="click: (function(){sortName('firstName')})">First Name</th>
              <th data-bind="click: (function(){sortName('lastName')})">Last Name</th>
              <th data-bind="click: (function(){sort('dateString')})">Date</th>
              <th data-bind="click: (function(){sort('stringLocation')})">Colony/State</th>
              <th data-bind="click: (function(){sort('meta','lastModified')})">Last Modified</th>
              <th data-bind="click: (function(){sort('meta','updatedBy')})">Updated By</th>
            </tr>
          </thead>
          <tbody data-bind="foreach: getEntries('Internal')">
            <tr data-bind="click: $parent.edit">
              <td data-bind="text: displayId"></td>
              <td data-bind="text: displayFirstName"></td>
              <td data-bind="text: displayLastName"></td>
              <td data-bind="text: dateString"></td>
              <td data-bind="text: colonyState"></td>
              <td data-bind="text: meta.lastModified"></td>
              <td data-bind="text: meta.updatedBy"></td>
            </tr>
          </tbody>
        </table>
      </article>
      <article id="public" class="col-xs-12">
        <h2>Public Entries</h2>
        <table class="table table-hover">
          <thead>
            <tr>
              <th data-bind="click: (function(){sort('displayId')})">ID</th>
              <th data-bind="click: (function(){sortName('firstName')})">First Name</th>
              <th data-bind="click: (function(){sortName('lastName')})">Last Name</th>
              <th data-bind="click: (function(){sort('dateString')})">Date</th>
              <th data-bind="click: (function(){sort('stringLocation')})">Colony/State</th>
              <th data-bind="click: (function(){sort('meta','lastModified')})">Last Modified</th>
              <th data-bind="click: (function(){sort('meta','updatedBy')})">Updated By</th>
            </tr>
          </thead>
          <tbody data-bind="foreach: getEntries('Public')">
            <tr data-bind="click: $parent.edit">
              <td data-bind="text: displayId"></td>
              <td data-bind="text: displayFirstName"></td>
              <td data-bind="text: displayLastName"></td>
              <td data-bind="text: dateString"></td>
              <td data-bind="text: colonyState"></td>
              <td data-bind="text: meta.lastModified"></td>
              <td data-bind="text: meta.updatedBy"></td>
            </tr>
          </tbody>
        </table>
      </article>
    </section>
  </article>

  <article id="entry" data-bind="with: editEntry" class="container">
    <form class="row">
      <div class="col-xs-3"></div>
      <div class="col-xs-6">
        <section id="id"><h3>This is <span data-bind="text: displayId"></span></h3></section>
        <section id="meta-data">
          <em>Last Modified: <span data-bind="text: meta.lastModified()"></span></em>
        </section>
        <section id="date">
          <string-entry params="data: date.year, name: 'year', displayName: 'Year'"></string-entry>

          <div class="form-group">
            <label for="month">Month:</label>
            <select data-bind="options: $parent.monthOptions, optionsCaption: 'Select an item...', value: date.month" name="month" class="form-control"></select>
          </div>

          <string-entry params="data: date.day, name: 'day', displayName: 'Day'"></string-entry>
        </section>
        <section id="names">
          <article data-bind="foreach: {data: names.values(), as: 'name'}">
            <!-- ko if: $index() === $parent.names.index() -->
            <div class="form-group">
              <label for="firstName">Primary First Name:</label>
              <input data-bind="value: name.firstName" name="firstName" class="form-control" />
              <label for="lastName">Primary Last Name:</label>
              <input data-bind="value: name.lastName" name="lastName" class="form-control" />
              <button data-bind="click: $parent.makePrimaryName" class="btn btn-default">Make Primary</button>
              <button data-bind="click: $parent.deleteName" class="btn btn-danger">Delete Name</button>
            </div>
            <!-- /ko -->
            <!-- ko if: $index() !== $parent.names.index() -->
            <div class="form-group">
              <label for="firstName">First Name:</label>
              <input data-bind="value: name.firstName" name="firstName" class="form-control" />
              <label for="lastName">Last Name:</label>
              <input data-bind="value: name.lastName" name="lastName" class="form-control" />
              <button data-bind="click: $parent.makePrimaryName" class="btn btn-default">Make Primary</button>
              <button data-bind="click: $parent.deleteName" class="btn btn-danger">Delete Name</button>
            </div>
            <!-- /ko -->
          </article>
          <button data-bind="click: addName" class="btn btn-primary">Add Name</button>
        </section>
        <section id="tribe">
          <div class="form-group">
            <label for="tribe">Tribe:</label>
            <select data-bind="options: $parent.tribeOptions, optionsCaption: 'Select an item...', value: tribe" name="tribe" class="form-control"></select>
          </div>
        </section>
        <section id="origin">
          <div class="form-group">
            <label for="origin">Origin:</label>
            <select data-bind="options: $parent.originOptions, optionsCaption: 'Select an item...', value: origin" name="origin" class="form-control"></select>
            <!--<input data-bind="value: origin" name="origin" class="form-control" />-->
          </div>
        </section>
        <section id="racialTag">
          <div class="form-group">
            <label for="racialTag">Race:</label>
            <select data-bind="options: $parent.racialTagOptions, optionsCaption: 'Select an item...', value: racialTag" name="racialTag" class="form-control"></select>
            <!--<input data-bind="value: origin" name="origin" class="form-control" />-->
          </div>
        </section>
        <section id="sex">
          <div class="form-group">
            <label for="sex">Sex:</label>
            <select data-bind="options: $parent.sexOptions, optionsCaption: 'Select an item...', value: sex" name="sex" class="form-control"></select>
          </div>
        </section>
        <section id="age">
          <div class="form-group">
            <label for="age">Age:</label>
            <input data-bind="value: age" name="age" class="form-control" />
          </div>
        </section>
        <section id="mannerOfEnslavement">
          <div class="form-group">
            <label for="mannerOfEnslavement">Type/Kind of Enslavement:</label>
            <select data-bind="options: $parent.mannerOfEnslavementOptions, optionsCaption: 'Select an item...', value: mannerOfEnslavement" name="mannerOfEnslavement" class="form-control"></select>
          </div>
        </section>

        <string-entry params="data: stringLocation, name: 'stringLocation', displayName: 'Location'"></string-entry>
        <string-entry params="data: colonyState, name: 'colonyState', displayName: 'Colony/State'"></string-entry>
        <string-entry params="data: nationalContext, name: 'nationalContext', displayName: 'National Context'"></string-entry>

        <section id="owner">
          <strong>Owner</strong><br>
          <div style="padding-left: 35px; padding-top: 10px;">
            <div class="form-group">
              <label for="ownerTitle">Title:</label>
              <input data-bind="value: owner.title" name="ownerTitle" class="form-control" />
            </div>
            <div class="form-group">
              <label for="ownerGivenName">First Name:</label>
              <input data-bind="value: owner.givenName" name="ownerGivenName" class="form-control" /><br>
            </div>
            <div class="form-group">
              <label for="ownerFamilyName">Last Name:</label>
              <input data-bind="value: owner.familyName" name="ownerFamilyName" class="form-control" /><br>
            </div>
          </div>
        </section>
        <section id="partner">
          <strong>Partner</strong><br>
          <div style="padding-left: 35px; padding-top: 10px;">
            <div class="form-group">
              <label for="partnerInDatabase">In Database:</label>
              <input data-bind="value: partner.isDatabase" name="partnerInDatabase" class="form-control" />
            </div>
            <div class="form-group">
              <label for="partnerGivenName">First Name:</label>
              <input data-bind="value: partner.givenName" name="partnerGivenName" class="form-control" />
            </div>
            <div class="form-group">
              <label for="partnerFamilyName">Last Name:</label>
              <input data-bind="value: partner.familyName" name="partnerFamilyName" class="form-control" />
            </div>
        </section>
        <section id="dateOfRunaway">
          <strong>Date of Runaway or Emancipation</strong><br><br>
          <div style="padding-left: 35px; padding-top: 10px;">
            <div class="form-group">
              <label for="yearRunaway">Year:</label>
              <input data-bind="value: dateOfRunaway.year" name="yearRunaway" class="form-control" />
            </div>
            <div class="form-group">
              <label for="monthRunaway">Month:</label>
              <select data-bind="options: $parent.monthOptions, optionsCaption: 'Select an item...', value: dateOfRunaway.month" name="monthRunaway" class="form-control"></select>
            </div>
            <div class="form-group">
              <label for="dayRunaway">Day:</label>
              <input data-bind="value: dateOfRunaway.day" name="dayRunaway" class="form-control" />
            </div>
          </div>
        </section>
        <section id="sourceType">
          <div class="form-group">
            <label for="sourceType">Source Type:</label>
            <input data-bind="value: sourceType" name="sourceType" class="form-control" />
          </div>
        </section>
        <section id="recordType">
          <div class="form-group">
            <label for="recordType">Record Type:</label>
            <input data-bind="value: recordType" name="recordType" class="form-control" />
          </div>
        </section>
        <section id="citation">
          <div class="form-group">
            <label for="citation">Citation:</label>
            <textarea data-bind="value: citation" name="citation" class="form-control"></textarea>
          </div>
        </section>
        <section id="additionalInfo">
          <div class="form-group">
            <label for="additionalInfo">Additional Info:</label>
            <textarea data-bind="value: additionalInfo" name="additionalInfo" class="form-control"></textarea>
          </div>
        </section>
        <section id="researcherNotes">
          <div class="form-group">
            <label for="researcherNotes">Researcher Notes:</label>
            <textarea data-bind="value: researcherNotes" name="researcherNotes" class="form-control"></textarea>
          </div>
        </section>
        <section id="submission">
          <button data-bind="click: $parent.save" class="btn btn-success">Save</button>
          <button data-bind="click: (function(){
            $parent.save($data); changeStage('Internal'); $parent.editEntry(null); $parent.showHome(true);
          })" class="btn btn-primary">Release to Team</button>
          <button data-bind="click: (function(){
            $parent.save($data); changeStage('Public'); $parent.editEntry(null); $parent.showHome(true);
          })" class="btn btn-primary">Release to Public</button>
          <button data-bind="click: $parent.cancel" class="btn btn-default">Cancel</button>
          <button data-bind="click: $parent.delete" class="btn btn-danger">Delete</button>
        </section>
      </div>
      <div class="col-xs-3"></div>
    </form>
  </article>

  <footer>

  </footer>
  <script type='text/javascript' src='bower_components/knockout/dist/knockout.debug.js'></script>
  <script type='text/javascript' src='bower_components/bower-knockout-mapping/dist/knockout.mapping.js'></script>
  <script type='text/javascript' src='home-bundle.js'></script>
</body>
</html>
