<!DOCTYPE html>
<html>
<head>
  <title>Indigenous Slave Trade Records</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>
  <header>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Indigenous Slave Trade Database</a>
        </div>
        <ul class="nav navbar-nav nav-tabs navbar-right">
          <li><a href="/">Dashboard</a></li>
          <li><a href="/admin">Admin</a></li>
          <li><a href="#">Logout</a></li>
        </ul>
      </div>
    </nav>
  </header>
  <article data-bind="visible: showHome" class="container">
    <section id="user">
      <h1>Hello <span data-bind="text: user().givenName"></span></h1>
      <p>Lorem Ipsum Dolor</p>
      <button data-bind="click: newEntry" class="btn btn-primary">New Entry</button>
    </section>
    <section id="tables" class="row">
      <article id="drafts" class="col-xs-12">
        <h2>Drafts</h2>
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Name</th>
              <th>Last Modified</th>
              <th>Updated By</th>
            </tr>
          </thead>
          <tbody data-bind="foreach: getEntries('Draft')">
            <tr data-bind="click: $parent.edit">
              <td data-bind="text: displayName"></td>
              <td data-bind="text: meta.lastModified"></td>
              <td data-bind="text: meta.updatedBy"></td>
            </tr>
          </tbody>
        </table>
      </article>
      <article id="internal" class="col-xs-12">
        <h2>Internal Entries</h2>
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Name</th>
              <th>Last Modified</th>
              <th>Updated By</th>
            </tr>
          </thead>
          <tbody data-bind="foreach: getEntries('Internal')">
            <tr data-bind="click: $parent.edit">
              <td data-bind="text: displayName"></td>
              <td data-bind="text: meta.astModified"></td>
              <td data-bind="text: meta.updatedBy"></td>
            </tr>
          </tbody>
        </table>
      </article>
      <article id="public" class="col-xs-12">
        <h2>Public Entries</h2>
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Name</th>
              <th>Last Modified</th>
              <th>Updated By</th>
            </tr>
          </thead>
          <tbody data-bind="foreach: getEntries('Public')">
            <tr data-bind="click: $parent.edit">
              <td data-bind="text: displayName"></td>
              <td data-bind="text: meta.lastModified"></td>
              <td data-bind="text: meta.updatedBy"></td>
            </tr>
          </tbody>
        </table>
      </article>
    </section>
  </article>

  <article id="entry" data-bind="with: editEntry" class="container">
    <form class="row">
      <div class="col-xs-3"></div>
      <div class="col-xs-6">
        <section id="id"><h3>This is entry <span data-bind="text: _id"></span></h3></section>
        <section id="meta-data">
          <em>Last Modified: <span data-bind="text: meta.lastModified()"></span></em>
        </section>
        <section id="date">
          <div class="form-group">
            <label for="year">Year:</label>
            <input data-bind="value: date.year" name="year" class="form-control" />
          </div>
          <div class="form-group">
            <label for="month">Month:</label>
            <select data-bind="options: $parent.monthOptions, value: date.month" name="month" class="form-control"></select>
          </div>
          <div class="form-group">
            <label for="day">Day:</label>
            <input data-bind="value: date.day" name="day" class="form-control" />
          </div>
        </section>
        <section id="indigenousName">
          <div class="form-group">
            <label for="iname">Indigenous Name:</label>
            <input data-bind="value: indigenousName" name="iname" class="form-control" />
          </div>
        </section>
        <section id="baptismalName">
          <strong>Baptismal Name</strong><br>
          <div style="padding-left:35px">
            <div class="form-group">
              <label for="givenname">First Name:</label>
              <input data-bind="value: baptismalName.givenName" name="givenname" class="form-control" />
            </div>
            <div class="form-group">
              <label for="familyname">Last Name:</label>
              <input data-bind="value: baptismalName.familyName" name="familyname" class="form-control" />
            </div>
          </div>
        </section>
        <section id="tribe">
          <div class="form-group">
            <label for="tribe">Tribe:</label>
            <select data-bind="options: $parent.tribeOptions, value: tribe" name="tribe" class="form-control"></select>
          </div>
        </section>
        <section id="origin">
          <div class="form-group">
            <label for="origin">Origin:</label>
            <select data-bind="options: $parent.originOptions, value: origin" name="origin" class="form-control"></select>
            <!--<input data-bind="value: origin" name="origin" class="form-control" />-->
          </div>
        </section>
        <section id="sex">
          <div class="form-group">
            <label for="sex">Sex:</label>
            <select data-bind="options: $parent.sexOptions, value: sex" name="sex" class="form-control"></select>
          </div>
        </section>
        <section id="age">
          <div class="form-group">
            <label for="age">Age:</label>
            <input data-bind="value: age" name="age" class="form-control" />
          </div>
        </section>
        <section id="mannerOfEnslavement">
          <div class="form-group">
            <label for="mannerOfEnslavement">Type/Kind of Enslavement:</label>
            <select data-bind="options: $parent.mannerOfEnslavementOptions, value: mannerOfEnslavement" name="mannerOfEnslavement" class="form-control"></select>
          </div>
        </section>
        <section id="stringLocation">
          <div class="form-group">
            <label for="stringLocation">Location:</label>
            <input data-bind="value: stringLocation" name="stringLocation" class="form-control" />
          </div>
        </section>
        <section id="colonyState">
          <div class="form-group">
            <label for="colonyState">Colony/State:</label>
            <input data-bind="value: colonyState" name="colonyState" class="form-control" />
          </div>
        </section>
        <section id="nationalContext">
          <div class="form-group">
            <label for="nationalContext">National Context:</label>
            <input data-bind="value: nationalContext" name="nationalContext" class="form-control" />
          </div>
        </section>
        <section id="owner">
          <strong>Owner</strong><br>
          <div style="padding-left: 35px">
            <div class="form-group">
              <label for="ownerTitle">Title:</label>
              <input data-bind="value: owner.title" name="ownerTitle" class="form-control" />
            </div>
            <div class="form-group">
              <label for="ownerGivenName">First Name:</label>
              <input data-bind="value: owner.givenName" name="ownerGivenName" class="form-control" /><br>
            </div>
            <div class="form-group">
              <label for="ownerFamilyName">Last Name:</label>
              <input data-bind="value: owner.familyName" name="ownerFamilyName" class="form-control" /><br>
            </div>
          </div>
        </section>
        <section id="partner">
          <strong>Partner</strong><br>
          <div style="padding-left: 35px">
            <div class="form-group">
              <label for="partnerInDatabase">In Database:</label>
              <input data-bind="value: partner.isDatabase" name="partnerInDatabase" class="form-control" />
            </div>
            <div class="form-group">
              <label for="partnerGivenName">First Name:</label>
              <input data-bind="value: partner.givenName" name="partnerGivenName" class="form-control" />
            </div>
            <div class="form-group">
              <label for="partnerFamilyName">Last Name:</label>
              <input data-bind="value: partner.familyName" name="partnerFamilyName" class="form-control" />
            </div>
        </section>
        <section id="sourceType">
          <div class="form-group">
            <label for="sourceType">Source Type:</label>
            <input data-bind="value: sourceType" name="sourceType" class="form-control" />
          </div>
        </section>
        <section id="recordType">
          <div class="form-group">
            <label for="recordType">Record Type:</label>
            <input data-bind="value: recordType" name="recordType" class="form-control" />
          </div>
        </section>
        <section id="additionalInfo">
          <div class="form-group">
            <label for="additionalInfo">Additional Info:</label>
            <textarea data-bind="value: additionalInfo" name="additionalInfo" class="form-control"></textarea>
          </div>
        </section>
        <section id="researcherNotes">
          <div class="form-group">
            <label for="researcherNotes">Researcher Notes:</label>
            <textarea data-bind="value: researcherNotes" name="researcherNotes" class="form-control"></textarea>
          </div>
        </section>
        <section id="submission">
          <button data-bind="click: $parent.save" class="btn btn-success">Save</button>
          <button data-bind="click: $parent.cancel" class="btn btn-default">Cancel</button>
        </section>
      </div>
      <div class="col-xs-3"></div>
    </form>
  </article>

  <footer>

  </footer>
  <script type='text/javascript' src='bower_components/knockout/dist/knockout.debug.js'></script>
  <script type='text/javascript' src='bower_components/bower-knockout-mapping/dist/knockout.mapping.js'></script>
  <script type='text/javascript' src='home-bundle.js'></script>
</body>
</html>
